<div class="login-container card">
  <h5 class="card-header info-color white-text text-center py-4">Login</h5>
  
  <form
    [formGroup]="loginForm"
    (ngSubmit)="handleLogin()"
    class="text-center border border-light p-5">
    <div *ngIf="showLoginError" class="login-error">
      <p>
        <ngb-alert [type]="'danger'" [dismissible]="false">
          <strong>Error!</strong> Email or password invalid
        </ngb-alert>
      </p>
    </div>
    <input
      type="email"
      id="defaultLoginFormEmail"
      class="form-control mb-4"
      formControlName="username"
      placeholder="E-mail">
    <div
      *ngIf="loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)"
      class="alert alert-danger">
      <div *ngIf="loginForm.controls.username.errors.required">
        Email is required
      </div>
      <div *ngIf="loginForm.controls.username.errors.email">
        Insert a valid email
      </div>
    </div>
    <input
      type="password"
      id="defaultLoginFormPassword"
      class="form-control mb-4"
      formControlName="password"
      placeholder="Password">
      <div
      *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)"
      class="alert alert-danger">
      <div *ngIf="loginForm.controls.password.errors.required">
        Password is required
      </div>
    </div>
    <div class="d-flex justify-content-around">
      <div>
        <div class="form-check">
          <input formControlName="rememberMe" type="checkbox" class="form-check-input" id="remember-me">
          <label class="form-check-label" for="remember-me">Remember me</label>
        </div>
      </div>
      <div>
        <a href="">Forgot password?</a>
      </div>
    </div>
    <button color="info" block="true" class="my-4 sign-up-button btn-block" type="submit">Sign in</button>
  </form>
</div>
